---
name: PR checks
on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  # Check if there is any dirty change for go mod tidy
  go-mod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Check go mod
        run: |
          go mod tidy
          git diff --exit-code go.mod
          git diff --exit-code go.sum
  keep-sorted:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Run keep-sorted
        run: |
          go install github.com/google/keep-sorted@v0.7.1
          keep-sorted .golangci.yml ./resources/openapi.yml
          git diff --exit-code
  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - uses: actions/checkout@v6
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: oldstable
          go-package: ./...
  golangci:
    name: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [oldstable, stable]
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4
  hadolint:
    name: hadolint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Dockerfile lint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
  spectral:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: stoplightio/spectral-action@latest
        with:
          file_glob: './resources/openapi.yml'
  prose:
    name: vale/codespell/typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: errata-ai/vale-action@v2.1.1
        with:
          vale_flags: "--glob '*.{md,rst}' --glob '!styles/*'"
      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          check_hidden: true
      - name: Check spelling of entire workspace
        uses: crate-ci/typos@v1
  markdownlint:
    name: markdownlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: '**/*.md'
  yamllint:
    name: 'yamllint'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
